<div class="panel panel-primary">

    <div class="panel-heading">
        <div class="panel-title">Replace</div>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <form class="form-horizontal" rolo="form" name="replaceForm" ng-submit="$ctrl.submitMsg(phone)">
                    <div class="form-group ">
                        <label class="col-md-2 ">
                            手机品牌：
                        </label>
                        <div class="col-md-10 ">
                            <select ng-model="phone.brand" name="brand ">
                                <option ng-repeat="x in brandList">{{x}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="col-md-2 ">
                            手机型号：
                        </label>
                        <div class="col-md-10 ">
                            <input type="text" ng-model="phone.type" name="type " id="type" />
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="col-md-2 ">
                            产品编号：
                        </label>
                        <div class="col-md-10 ">
                            <input type="text " ng-model="phone.productNo " name="productNo " id="productNo " ng-pattern="$ctrl.brandRegex " />
                            <!--
                            <div ng-show="replaceForm.productNo.$invalid && replaceForm.productNo.$dirty " style="color:red; ">
                                Invalid:
                                <span ng-show="replaceForm.productNo.$error.required ">请输入编号</span>
                                <span ng-show="replaceForm.productNo.$invalid ">请输入正确的编号</span>
                            </div>
                            -->
                        </div>
                    </div>

                    <div class="form-group ">
                        <div class="col-md-offset-2 col-md-10 ">
                            <input type="button" value="取消" ng-click="$ctrl.cancle()" />
                            <input type="submit" value="下一步" />
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <h1>{{$ctrl.test}}</h1>


</div>