<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">Delete</div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <p>{{TempPhone}}</p>
                <form class="form-horizontal" role="form" name="myForm" ng-submit="$ctrl.submitMsg()">
                    <div class="form-group">
                        <label class="col-md-2">
                            产品编号：
                        </label>
                        <div class="col-md-10">
                            <input type="text" ng-model="TempPhone.productNo" name="productNo" id="proNo" disabled />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">
                            品牌：
                        </label>
                        <div class="col-md-10">
                            <input type="text" ng-model="TempPhone.brand" name="brand" id="mbrand" disabled />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">
                            类型：
                        </label>
                        <div class="col-md-10">
                            <input type="text" ng-model="TempPhone.type" name="type" id="type" disabled />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">
                            原因：
                        </label>
                        <div class="col-md-10">
                            <input type="text" name="reason" id="reason" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">
                            日期：
                        </label>
                        <div class="col-md-10">
                            <input type="date" required name="date" id="date" />
                        </div>
                    </div>
                    
                </form>
                <a href="#!/phone">返回</a>
                <a href="#!/phone/doubleCheck">提交</a>
            </div>
        </div>
    </div>
</div>