<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">Delete</div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">

                <form class="form-horizontal" role="form" name="myForm">
                    <div class="form-group">
                        <label class="col-md-2">
                            产品编号：
                        </label>
                        <div class="col-md-10">
                            <input type="text" ng-model="TempPhone.productNo" name="productNo" id="proNo" disabled />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">
                            品牌：
                        </label>
                        <div class="col-md-10">
                            <input type="text" ng-model="TempPhone.brand" name="brand" id="mbrand" disabled />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">
                            类型：
                        </label>
                        <div class="col-md-10">
                            <input type="text" ng-model="TempPhone.type" name="type" id="type" disabled />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">
                            原因：
                        </label>
                        <div class="col-md-10">
                            <select ng-model="TempPhone.deleteReason">
                                <option value="">请选择原因</option>
                                <option>lost</option>
                                <option>buy new phone</option>
                                <option>time end</option>
                            </select>
                            <!--<input type="text" ng-model="TempPhone.abandonReason"  id="reason" required />-->
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">
                            日期：
                        </label>
                        <div class="col-md-10">
                            <input type="date" ng-model="TempPhone.deleteDate" required name="date" id="date" />
                        </div>
                    </div>
                </form>
                <a href="#!/phone/choosePage">返回</a>
                <button ng-click="setNewTempPhone()">确认</button>
                {{TempPhone}}
            </div>
        </div>
    </div>
</div>
