.a-primary {
    position: relative;
    display: block;
    cursor: pointer;
}

    /*伪元素after*/
    .a-primary::after {
        content: attr(data-tip);
        display: none;
        position: absolute;
        padding: 5px 10px;
        left: 70%;
        bottom: 70%;
        margin-bottom: 12px;
        transform: translateX(-50%);
        font-size: 16px;
        background: #000;
        color: #fff;
        cursor: default;
    }

    /*伪元素before*/
    .a-primary::before {
        content: " ";
        position: absolute;
        display: none;
        left: 50%;
        bottom: 70%;
        transform: translateX(-50%);
        margin-bottom: 3px;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 9px solid #000;
    }

    .a-primary:hover::after,
    .a-primary:hover::before {
        display: block;
    }

table, td, th {
    border: 2px solid black;
}

table {
    width: 80%;
}

th {
    height: 50px;
}


