<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel=title">
            <h1>Check</h1>
        </div>
    </div>
    <div class="panel-body" style="float:left; width:50%">
        <div class="row">
            <div class="col-md-12">
                <form class="form-horizontal" role="form" name="checkForm" ng-submit="$ctrl.submitMsg(phone)">
                    <div class="form-group">
                        <label class="col-md-2" id="phoneUser">
                            手机用户：{{phone.phoneUser}}
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2" id="brand">
                            手机品牌：{{phone.brand}}
                        </label>
                    </div>
                    <div class="form-group" id="type">
                        <label class="col-md-2">
                            手机型号：{{phone.type}}
                        </label>
                    </div>
                    <div class="form-group" id="productNo">
                        <label class="col-md-2">
                            产品编号：{{phone.productNo}}
                        </label>
                    </div>
                    <div class="form-group" id="startDate">
                        <label class="col-md-2">
                            开机日期：{{phone.startDate | date:'yyyy-MM-dd'}}
                        </label>
                    </div>
                    <div class="form-group" id="endDate">
                        <label class="col-md-2">
                            关机日期：{{phone.endDate | date:'yyyy-MM-dd'}}
                        </label>
                    </div>
                    <div class="form-group" id="abandonDate">
                        <label class="col-md-2" ng-show="isReplace">
                            更换日期：{{phone.abandonDate | date:'yyyy-MM-dd'}}
                        </label>
                    </div>
                    <div class="form-group" id="state">
                        <label class="col-md-2">
                            状态：{{state}}
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="button" value="取消" ng-click="$ctrl.cancle()" />
                            <input type="button" value="主页" ng-click="$ctrl.backIndex()" />
                            <input type="submit" value="确定" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="panel-body" style="float:left; width:50%" ng-model="isCheck" ng-show="isReplace">
        <div class="row">
            <div class="col-md-12">
                <form class="form-horizontal" role="form" name="checkForm" ng-submit="$ctrl.submitMsg(phone)">

                    <div class="form-group">
                        <label class="col-md-2" id="brand">
                            Brand：{{oldPhone.brand}}
                        </label>
                    </div>
                    <div class="form-group" id="type">
                        <label class="col-md-2">
                            Type：{{oldPhone.type}}
                        </label>
                    </div>
                    <div class="form-group" id="productNo">
                        <label class="col-md-2">
                            Product Number：{{oldPhone.productNo}}
                        </label>
                    </div>
                    <div class="form-group" id="startDate">
                        <label class="col-md-2">
                            Start Date：{{oldPhone.startDate | date:'yyyy-MM-dd'}}
                        </label>
                    </div>
                    <div class="form-group" id="endDate">
                        <label class="col-md-2">
                            End Date：{{oldPhone.endDate | date:'yyyy-MM-dd'}}
                        </label>
                    </div>
                    <div class="form-group" id="deleteDate">
                        <label class="col-md-2" ng-show="isReplace">
                            Abandon Date：{{phone.startDate | date:'yyyy-MM-dd'}}
                        </label>
                    </div>


                </form>
            </div>
        </div>
    </div>


    <h1>{{$ctrl.test}}</h1>
    <p>
        {{phone}}
    </p>
    <p>
        {{oldPhone}}
    </p>
</div>