<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title" ng-model="isReplace" ng-show="isReplace">Replace</div>
        <div class="panel-title" ng-model="isRegister" ng-show="isRegister">Register</div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <form class="form-horizontal" role="form" name="myForm" ng-submit="submitMsg()">
                    <div class="form-group">
                        <label class="col-md-2">
                            手机用户
                        </label>
                        <div class="col-md-10">
                            <input type="text" ng-model="phone.phoneUser" name="phoneUser" id="phoneUser" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">
                            产品编号
                        </label>
                        <div class="col-md-10">
                            <input type="text" ng-model="phone.productNo" id="productNo" name="productNo" ng-blur="GetBrandTypeByProductNo()" required />
                            <!--
                            <div ng-show="myForm.productNo.$dirty">
                                <span>{{ProductNoIsLegal}}</span>
                            </div>
                                -->
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">
                            手机品牌：
                        </label>
                        <div class="col-md-10">
                            <select ng-model="phone.brand" name="brand" id="brand" required ng-click="getTypeByBrand()">
                                <option value="">请选择手机品牌</option>
                                <option ng-repeat="x in brandList">{{x}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">
                            手机型号：
                        </label>
                        <div class="col-md-10">
                            <select ng-model="phone.type" name="type" id="type" ng-blur="validateProductNo()" required>
                                <option value="">请先选择手机型号</option>
                                <option ng-repeat="x in typeList">{{x}}</option>
                            </select>
                            <div ng-show="myForm.productNo.$dirty">
                                <span>{{ProductNoIsLegal}}</span>
                            </div>
                        </div>
                    </div>

                    <!-- 输入日期 -->
                    <div class="form-group">
                        <label class="col-md-2">
                            启用日期：
                        </label>
                        <div class="col-md-10">
                            <input type="date" ng-model="phone.inputDate" required name="inputDate" id="inputDate" />
                        </div>
                    </div>
                    <div class="form-group" ng-show="isReplace">
                        <label class="col-md-2">
                            停用日期：
                        </label>
                        <div class="col-md-10">
                            <input type="date" ng-model="phone.deleteDate" name="deleteDate" id="deleteDate" />
                        </div>

                    </div>
                    <!-- 测试使用，最后需要删除 -->
                    <span>{{phone}}</span>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10" ng-mouseenter="getYearByType()" style="padding:30px">
                            <!--<span>{{flag}}</span>-->
                            <a href="#!/phone/choosePage">
                                <input type="button" value=" 返回主页" style="color:black" />
                            </a>
                            <input type="submit" value="下一步" ng-mouseenter="formatDate()" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>