
<div>
    <h1>Hi {{loginUsername}}, <a href="" ng-click="logout()">Logout</a></h1>
    <button ng-click="register()">Add New Phone</button>
    <!--<button ng-click="logout()">Logout</button>-->
</div>
<div ng-show="notEmpty">
    <center>
        <table border="1">
            <tr>
                <!--<th>PhoneUser</th>-->
                <th>Brand</th>
                <th>Type</th>
                <th>Product Number</th>
                <th>Status</th>
                <th>Operate1</th>
                <th>Operate2</th>
                <th>Operate3</th>
                <th>Details</th>
            </tr>
            <tr ng-repeat="phone in userPhoneAll">
                <!--<td>{{phone.phoneUser}}</td>-->
                <td>{{phone.brand}}</td>
                <td>{{phone.type}}</td>
                <td>{{phone.productNo}}</td>
                <td>{{phone.stateString }}</td>
                <!--<td><button ng-click="remove(phone.id)">delete</button></td>-->
                <td><a href="" ng-click="replace(phone.id, phone.state)">replace</a></td>
                <td><a href="" ng-click="abandon(phone.id, phone.state)">{{phone.stateString2 }}</a></td>
                <td><a href="" ng-click="delete(phone.id, phone.state)">delete</a></td>
                <td><a href="" class="btn a-primary" data-placement="right" data-tip="phone message" ng-click="showDetails(phone)" ng-model="showDetail"><img src="img/timg.jpg" width="30px" height="30px"></a></td>
            </tr>
        </table>
    </center>



<div ng-show="!notEmpty">
    <h1>You should buy phones!</h1>
</div>
