
<div style="text-align:center;width:40%">
    <front size="15" style="text-align:left">Hi {{loginUsername}}, <a href="" ng-click="logout()">Logout</a>, I want <button ng-click="register()">Add New Phone</button> </front>
    
    <!--<button ng-click="logout()">Logout</button>-->
</div>
<div ng-show="notEmpty">
    <center>
        <div style="text-align:right;width:75%">
            <a href="" ng-click="getUserPhoneAll(pageIndex - 1)" ng-show="pageIndex > 1"><font size="6">previous</font></a>
            <font size="6">&nbsp;&nbsp;{{pageIndex}}&nbsp;&nbsp;</font>
            <a href="" ng-click="getUserPhoneAll(pageIndex + 1)" ng-show="pageIndex < totalPages"><font size="6">next</font></a>
        </div>
        <table>
            <tr bgcolor="#CCFF66">
                <!--<th>PhoneUser</th>-->
                <th>Brand</th>
                <th>Type</th>
                <th>Product Number</th>
                <th>Status</th>
                <!--<th>Operate1</th>
                <th>Operate2</th>
                <th>Operate3</th>-->
                <th>Details</th>
            </tr>
            <tr ng-repeat="phone in userPhoneAll">
                <!--<td>{{phone.phoneUser}}</td>-->
                <td>{{phone.brand}}</td>
                <td>{{phone.type}}</td>
                <td>{{phone.productNo}}</td>
                <td>{{phone.stateString }}</td>
                <!--<td><button ng-click="remove(phone.id)">delete</button></td>-->
                <!--<td><a href="" ng-click="replace(phone.id, phone.state)">{{phone.operate1 }}</a></td>
                <td><a href="" ng-click="abandon(phone.id, phone.state)">{{phone.operate2 }}</a></td>
                <td><a href="" ng-click="delete(phone.id, phone.state)">{{phone.operate3 }}</a></td>-->
                <td><a href="" class="btn a-primary" data-placement="right" data-tip="phone message" ng-click="showDetails(phone)" ng-model="showDetail"><img src="img/timg.jpg" width="30px" height="30px"></a></td>
            </tr>
        </table>
    </center>

    <div class="panel-body" ng-show="showDetail">
        <div class="row">
            <center>
                <div class="form-horizontal" role="form" name="checkForm" style="text-align:left;width:75%">
                    <!--<div class="form-group">
                        <label class="col-md-2" id="phoneUser">
                            phoneUser: {{phoneUser}}
                        </label>
                    </div>-->
                    <div class="form-group">
                        <label>
                            brand: {{brand}}
                        </label>
                    </div>
                    <div class="form-group" id="type">
                        <label>
                            type: {{type}}
                        </label>
                    </div>
                    <div class="form-group" id="productNo">
                        <label>
                            productNo: {{productNo}}
                        </label>
                    </div>
                    <div class="form-group" id="startDate" ng-show="startDate != null">
                        <label>
                            startDate: {{startDate | date:'yyyy-MM-dd'}}
                        </label>
                    </div>
                    <div class="form-group" id="endDate" ng-show="endDate != ''">
                        <label>
                            endDate: {{endDate | date:'yyyy-MM-dd'}}
                        </label>
                    </div>
                    <div class="form-group" id="abandonDate" ng-show="abandonDate != ''">
                        <label>
                            abandonDate: {{abandonDate | date:'yyyy-MM-dd'}}
                        </label>
                    </div>
                    <div class="form-group" id="deleteDate" ng-show="deleteDate != ''">
                        <label>
                            deleteDate: {{deleteDate | date:'yyyy-MM-dd'}}
                        </label>
                    </div>
                    <div class="form-group" id="deleteReason" ng-show="deleteReason != null">
                        <label>
                            deleteReson: {{deleteReason}}
                        </label>
                    </div>
                    <div class="form-group" id="state">
                        <label>
                            status: {{stateString}}
                        </label>
                    </div>
                    <div class="form-group">
                        <button ng-show="operate1 != 'nothing'" ng-click="replace(tempId, state)">{{operate1 }}</button>
                        <button ng-show="operate2 != 'nothing'" ng-click="abandon(tempId, state)">{{operate2 }}</button>
                        <button ng-show="operate3 != 'nothing'" ng-click="delete(tempId, state)">{{operate3 }}</button>
                    </div>
                </div>
            </center>
        </div>
    </div>
</div>

    <div ng-show="!notEmpty">
        <h1>You should buy phones!</h1>
    </div>
